// Bg
.bg--blue
{
    background: $blue;
}

.bg--green
{
    background: $green;
}

.bg--red
{
    background: $red;
}

.bg-dark
{
    background: #3e3f42;
}

.bg-light
{
    background: #fbfbfd;
}

// Color
.text--blue
{
    color: $blue;
}

.text--green
{
    color: $green;
}

.text--red
{
    color: $red;
}

.text-dark
{
    color: #3e3f42;
}

.text-light
{
    color: #fbfbfd;
}
