.pane .pane-section-params .pane-cnt::-webkit-scrollbar {
    background: transparent;
}

.pane .pane-section-params .pane-cnt::-webkit-scrollbar-track-piece {
    background: #f9f9f9;
}

.pane .pane-section-params .pane-cnt::-webkit-scrollbar-thumb {
    background: #e6e6e6;
}

.pane .pane-section-params .pane-cnt {
    -ms-scrollbar-arrow-color: #f9f9f9;
    -ms-scrollbar-face-color: #e6e6e6;
    -ms-scrollbar-shadow-color: #e6e6e6;
    -ms-scrollbar-track-color: #f9f9f9;
}

.pane .pane-section-params {
    display: none;
    overflow: hidden;
}

.pane .pane-section-params.__selected {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
