#layout
{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
}

.main
{
    display: flex;
    flex: 1 0 0;
}

@import "main/_left-panel";
@import "main/_content";
