<!-- <app-tabs class="tabs tabs--full tabs--shadow">
    <app-tab class="tabs__content" tabTitle="Content">
    </app-tab>
    <app-tab class="tabs__content" tabTitle="Settings">
    </app-tab>
</app-tabs> -->

<div class="left-panel-toggable" [class.opened]="opened" [ngStyle]="{ 'width.px': openedWidthStyle }">
    <div class="left-panel-toolbar">
        <button class="btn btn--outline" (click)="togglePanel()"><span class="btn-text">Toggle</span></button>
    </div>
    <div class="left-panel-content">
        <div class="form">
            <h2 class="form-t">Edit {{ blockName }}</h2>
            <app-block-form *ngIf="model && schema" [model]="model" [schema]="schema"
                (modelChange)="modelChanged($event)"></app-block-form>
            <div *ngIf="!schema && model">
                <p>There are no descriptors for this block type: {{ model.type }}</p>
            </div>
            <div *ngIf="!model">
                <p>No model provided</p>
            </div>
        </div>
    </div>
    <div class="left-panel-footer" *ngIf="model.type !== 'settings' && !schema.static">
        <button class="btn btn--outline btn--block" (click)="removeBlock()">
            <span class="btn__icon btn__icon--remove"></span>
            <span class="btn__text">Remove section</span>
        </button>
        <button class="btn btn--outline btn--small" (click)="copyBlock()">
            <span class="btn__icon btn__icon--copy"></span>
        </button>
    </div>
</div>
