<div class="pane-section __selected">
    <div class="pane-head">
        <a class="pane-back" (click)="back()">
            <i class="pane-ico fa fa-chevron-left"></i>
        </a>
        <div class="pane-t">Edit block</div>
    </div>
    <div class="pane-cnt">
        <form [formGroup]="form">
            <div class="pane-settings">
                <app-string-item label="Block name" formControlName="name"></app-string-item>
                <div *ngIf="(name.touched || name.dirty) && name.invalid" class="invalid">The Name is required</div>
            </div>
            <div class="pane-settings">
                <ng-container appBlockHost></ng-container>
            </div>
        </form>
        <div class="pane-settings">
            <button *ngIf="model.type !== 'settings'" class="btn" (click)="removeBlock()">Remove block</button>
        </div>
    </div>
</div>