.invalid {
    color: red;
}

.left-panel-toolbar {
    display: flex;

    .btn {
        margin-left: .4rem;
        &:first-child {
            margin-left: 0;
        }
    }

    .btn.active {
        background: #e2e2e2;
    }
}
