<div [formGroup]="group">
    <ng-container *ngFor="let control of descriptors">
        <!-- Header or Paragraph -->
        <h2 class="form-t" *ngIf="control.type === 'header' && inTab(control)">{{ getContent(control) }}</h2>
        <!-- Simple control -->
        <app-control-holder *ngIf="displaySimpleControl(control) && inTab(control)" [descriptor]="control"
            [group]="group" [context]="context" [formControlName]="control.id"></app-control-holder>
        <!-- complext control (collection) -->
        <div *ngIf="displayCollection(control) && inTab(control)" class="form-group">
            <div *ngIf="!editableItem">
                <div cdkDropList (cdkDropListDropped)="sortItems(control, $event)" class="list list--collection">
                    <div class="list__item" cdkDragBoundary=".list--collection" cdkDragLockAxis="y" cdkDrag
                        *ngFor="let item of getControls(control); let i = index; trackBy: trackByFn">
                        <div class="list__name">{{ getTitle(item, control, i + 1) }}</div>
                        <div class="list__actions">
                            <a class="list__actions-item list__actions-item--edit"
                                (click)="editCollectionItem(item)"></a>
                            <a class="list__actions-item list__actions-item--remove"
                                (click)="removeElement(control, i)"></a>
                            <div cdkDragHandle class="list__actions-item list__actions-item--drag"></div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn--blue btn--block"
                            (click)="addElement(control)">{{ getAddButtonTitle(control) }}</button>
                    </div>
                </div>
            </div>
            <div *ngIf="editableItem" class="collection-item" [formGroup]="editableItem">
                <!-- <div class="collection-item__header">
                    <div class="collection-item__t">New slide</div>
                </div> -->
                <div class="collection-item__body">
                    <app-elements-form [group]="editableItem" [descriptors]="getElementDescriptors(control)">
                    </app-elements-form>
                </div>
                <div class="collection-item__footer">
                    <button class="btn btn--blue btn--block" (click)="saveEditCollectionItem()">
                        <span class="btn__text">Save</span>
                    </button>
                    <button class="btn btn--outline btn--block" (click)="cancelEditCollectionItem()">
                        <span class="btn__text">Cancel</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- Info -->
        <p *ngIf="control.type !== 'image' && getInfo(control) !== undefined && inTab(control)" class="form-help">
            {{getInfo(control)}}</p>
    </ng-container>
</div>