<div [formGroup]="group">
    <div class="form-group" *ngFor="let control of descriptors">
        <!-- Header or Paragraph -->
        {{ getContent(control) }}
        <!-- Simple control -->
        <app-control-holder *ngIf="displaySimpleControl(control)" [descriptor]="control" [group]="group"
            [formControlName]="control.id"></app-control-holder>
        <!-- complext control (collection) -->
        <div *ngIf="displayCollection(control)">
            <div [formArrayName]="control.id">
                <app-accordeon appSortableList (sort)="sortItems(control, $event)">
                    <app-acc-item *ngFor="let item of getControls(control); let i = index; trackBy: trackByFn" [title]="getTitle(item, control)"
                        appDraggable>
                        <div [formGroupName]="i">

                            <app-elements-form [group]="item" [descriptors]="getElementDescriptors(control)"></app-elements-form>

                            <div class="pane-settings">
                                <button class="btn" (click)="removeElement(control, i)">{{ getRemoveButtonTitle(control) }}</button>
                            </div>
                        </div>
                        <div *appDraggableHelper>
                            <h4 class="panel-title">
                                <a href tabindex="0"><span>{{ getTitle(item, control) }}</span></a>
                            </h4>
                        </div>
                    </app-acc-item>
                </app-accordeon>
            </div>
            <div>
                <button class="btn" (click)="addElement(control)">{{ getAddButtonTitle(control) }}</button>
            </div>
        </div>
        <!-- Info -->
        <p *ngIf="control.type !== 'image' && getInfo(control) !== undefined" class="form-help">{{getInfo(control)}}</p>
    </div>
</div>