// Color palete
$blue: #1665d8;
$green: #00bc1a;
$gray-light: #fbfbfd;
$gray: #b7bac1;
$gray-dark: #e8ebf1;
$red: #f93a3a;

// Base colors
$primary-color: #3e3f42;
$border-color: #eaedf3;
$disable-color: #d3d8e2;

$left-aside: 17.5rem;
