<div [formGroup]="group">

    <div class="pane-settings">
        <app-select-item [options]="layoutOptions" label="Layout" formControlName="layout"></app-select-item>
    </div>

    <div class="pane-settings" formArrayName="images">
        <app-accordeon>
            <app-acc-item [title]="getTitle(0)">
                <div [formGroupName]="0">
                    <div class="pane-settings">
                        <app-string-item label="Title" formControlName="title"></app-string-item>
                    </div>
                    <div class="pane-settings">
                        <app-image-item label="Upload picture" formControlName="url"></app-image-item>
                    </div>
                </div>
            </app-acc-item>
            <app-acc-item [title]="getTitle(1)">
                <div [formGroupName]="1">
                    <div class="pane-settings">
                        <app-string-item label="Title" formControlName="title"></app-string-item>
                    </div>
                    <div class="pane-settings">
                        <app-image-item label="Upload picture" formControlName="url"></app-image-item>
                    </div>
                </div>
            </app-acc-item>
            <app-acc-item *ngIf="isImageVisible(2)" [title]="getTitle(2)">
                <div [formGroupName]="2">
                    <div class="pane-settings">
                        <app-string-item label="Title" formControlName="title"></app-string-item>
                    </div>
                    <div class="pane-settings">
                        <app-image-item label="Upload picture" formControlName="url"></app-image-item>
                    </div>
                </div>
            </app-acc-item>
        </app-accordeon>
    </div>
</div>