<div class="theme-sidebar">
    <div class="loader" *ngIf="isLoading$ | async">
        <div class="loading">
            <img src="assets/images/loader.gif" alt="">
        </div>
    </div>
    <div class="sidebar-main" *ngIf="page$ | async as currentPage">
        <!-- <div class="pane pane-index" [class.__disabled]="hideRoot$|async"> -->
        <div class="pane pane-index">
            <div class="pane-head">
                <div class="pane-t">{{ currentPage.settings.title }}</div>
            </div>
            <div class="pane-cnt">
                <app-tabs>
                    <app-tab tabTitle="Sections" active="true">
                        <app-page-editor [model]="currentPage" [schema]="blocksSchema$ | async" (selectEvent)="selectPageItem($event)"
                            (orderChangedEvent)="onOrderChanged($event)" (addNewBlockEvent)="setNewBlockMode(true)"></app-page-editor>
                    </app-tab>
                    <app-tab *ngIf="themeSchema$ | async" tabTitle="Theme">
                        <app-theme-editor [schema]="themeSchema$ | async" (selectPresetEvent)="turnOnPresets()"
                            (selectItemEvent)="selectSchemaItem($event)"></app-theme-editor>
                    </app-tab>
                </app-tabs>
            </div>
        </div>
        <app-page-item-editor class="pane __selected" 
            *ngIf="currentSectionItem$|async as currentSectionItem" 
            [model]="currentSectionItem" 
            [schema]="(blocksSchema$ | async)[currentSectionItem.type]"
            (valueChangedEvent)="updateBlockPreview($event)" (removeBlockEvent)="removeBlock($event)" (backEvent)="completeEditBlock($event)"></app-page-item-editor>
        <app-select-type class="pane __selected" *ngIf="addNewSectionMode$ | async" [schema]="blocksSchema$ | async"
            (backEvent)="setNewBlockMode(false)" (previewBlockEvent)="previewBlockType($event)" (selectBlockEvent)="selectBlockType($event)"></app-select-type>
        <app-presets-editor class="pane __selected" *ngIf="showPresets$|async" [data]="presets$|async"
            (savePresetEvent)="onSavePreset($event)" (selectPresetEvent)="onSelectPreset($event)" (backEvent)="turnOffPresets()"
            (applyThemeEvent)="applyPresetAsTheme($event)" (removePresetEvent)="onRemovePreset($event)"></app-presets-editor>
        <app-theme-item-editor class="pane __selected" *ngIf="currentThemeSchemaItem$|async as currentSchemaItem" [schema]="currentSchemaItem"
            [theme]="theme$|async" (valueChangedEvent)="liveUpdateTheme($event)" (backEvent)="closeThemeItemEditor()"></app-theme-item-editor>
    </div>
    <div class="sidebar-foot" *ngIf="!(isEditMode$|async)">
        <button [disabled]="!(isDirty$|async)" class="btn" (click)="clearChanges()">Clear changes</button>
        <button [disabled]="!(isDirty$|async)" class="btn" (click)="saveChanges()">Save changes</button>
    </div>
</div>