<div class="theme-sidebar">
    <div class="loader" *ngIf="isPageLoading || isThemeLoading">
        <div class="loading">
            <img src="assets/images/loader.gif" alt="">
        </div>
    </div>
    <div class="sidebar-main">
        <div class="pane pane-index" [class.__disabled]="selected != null || showPreset">
            <div class="pane-head">
                <div class="pane-t">Boundless</div>
            </div>
            <div class="pane-cnt">
                <app-tabs>
                    <app-tab tabTitle="Sections">
                        <app-page-editor (selectEvent)="selected = $event"></app-page-editor>
                    </app-tab>
                    <app-tab tabTitle="Theme" active="true">
                        <app-theme-editor [settings]="settings" (selectPresetEvent)="showPreset = true" (selectItemEvent)="selected = $event"></app-theme-editor>
                    </app-tab>
                </app-tabs>
            </div>
        </div>
        <app-presets-editor class="pane" [class.__selected]="showPreset" [data]="presets" [theme]="theme" (backEvent)="showPreset = false"></app-presets-editor>
        <app-theme-item-editor class="pane" [class.__selected]="selected != null" [item]="selected" [theme]="theme" (backEvent)="selected = null"></app-theme-item-editor>
    </div>
    <div class="sidebar-foot">
        <button class="btn">Clear changes</button>
        <button class="btn">Save changes</button>
    </div>
</div>