
@{
    ViewData["Title"] = "Designer";
}

<div id="layout" ng-app="theme-editor">
    <article class="main">
        <div class="theme-cnt">
            <div class="theme-preview" data-size="desktop">
                <iframe id="preview" src="" scrolling="yes"></iframe>
            </div>
            <a class="theme-toggle js-toggle"></a>
            <ul class="list __nav">
                <li class="list-item">
                    <a class="list-link __selected js-size" data-size="desktop">
                        <i class="list-ico fa fa-desktop"></i>
                        Desktop
                    </a>
                </li>
                <li class="list-item">
                    <a class="list-link js-size" data-size="tablet">
                        <i class="list-ico fa fa-tablet"></i>
                        Tablet
                    </a>
                </li>
                <li class="list-item">
                    <a class="list-link js-size" data-size="mobile">
                        <i class="list-ico fa fa-mobile"></i>
                        Mobile
                    </a>
                </li>
            </ul>
        </div>

        <div class="theme-sidebar" ng-controller="EditorCtrl as editor">
            <div class="loader" ng-if="loading">
                <div class="loading">
                    <img src="images/loader.gif" alt="">
                </div>
            </div>

            <div class="sidebar-main">
                <div class="pane pane-index">
                    <div class="pane-head">
                        <div class="pane-t">Json-page Designer</div>
                    </div>
                    <div class="pane-general">
                        <div class="pane-cnt">
                            <div class="pane-settings ng-binding ng-scope">
                                <div class="pane-settings ng-binding ng-scope">
                                    <label for="" class="form-label ng-binding ng-scope">Page title</label>
                                </div>
                                <div class="form-input ng-scope">
                                    <input ng-model="settings.title" class="ng-pristine ng-valid ng-not-empty ng-touched" placeholder="Title" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pane-cnt">
                        <ul class="list" ng-cloak>
                            <li class="list-item" data-name="presets" editor-set-active-pane>
                                <a class="list-link">
                                    <i class="list-ico fa fa-wrench"></i>
                                    <span class="list-t"> Settings </span>
                                </a>
                            </li>
                        </ul>

                        <ul id="blockList" ui-sortable="sortableOptions" ng-model="cmsPage.blocks">
                            <li class="list-item" ng-repeat="item in cmsPage.blocks" data-name="{{item.id}}" editor-set-active-pane>
                                <a class="list-link" ng-if="item.type != 'settings'">
                                    <i ng-class="'list-ico fa fa-' + item.icon"></i>
                                    <span class="list-t"> {{item.name}} </span>
                                </a>
                            </li>

                        </ul>

                        <ul class="list" ng-cloak>
                            <li class="list-item" data-name="blocks" editor-set-active-pane>
                                <a class="list-link">
                                    <i class="list-ico fa fa-plus-square"></i>
                                    <span class="list-t"> Add block </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="pane">
                    <div class="pane-section" id="presets">
                        <div class="pane-head">
                            <a class="pane-back" editor-back="allowCloseSettings()">
                                <i class="pane-ico fa fa-chevron-left"></i>
                            </a>
                            <div class="pane-t">
                                <i class="pane-ico fa fa-wrench"></i>
                                Settings
                            </div>
                        </div>
                        <div class="">
                            <div class="pane-cnt">
                                <ul class="list pressets-list">
                                    <li class="">
                                        <div class="pane-settings ng-binding ng-scope">
                                            <div class="pane-settings ng-binding ng-scope">
                                                <label for="" class="form-label ng-binding ng-scope">Page name</label>
                                            </div>
                                            <div class="form-input ng-scope">
                                                <input ng-model="cmsPage.fileName" class="ng-pristine ng-valid ng-not-empty ng-touched" placeholder="Page name" />
                                                <div ng-if="fileNameDuplicated" class="pane-row has-error">The page name is not unique</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="pane-settings ng-binding ng-scope">
                                            <div class="pane-settings ng-binding ng-scope">
                                                <label for="" class="form-label ng-binding ng-scope">Permalink</label>
                                            </div>
                                            <div class="form-input ng-scope">
                                                <input ng-model="settings.permalink" class="ng-pristine ng-valid ng-not-empty ng-touched" placeholder="Permalink" />
                                                <div ng-if="permalinkDuplicated" class="pane-row has-error">The permalink is not unique</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <h3>SEO</h3>
                                    </li>
                                    <li class="">
                                        <div class="pane-settings ng-binding ng-scope">
                                            <div class="pane-settings ng-binding ng-scope">
                                                <label for="" class="form-label ng-binding ng-scope">Title</label>
                                            </div>
                                            <div class="form-input ng-scope">
                                                <input ng-model="settings.seoTitle" class="ng-pristine ng-valid ng-not-empty ng-touched" placeholder="SEO title" />
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="pane-settings ng-binding ng-scope">
                                            <div class="pane-settings ng-binding ng-scope">
                                                <label for="" class="form-label ng-binding ng-scope">Description</label>
                                            </div>
                                            <div class="form-input ng-scope">
                                                <input ng-model="settings.seoDescription" class="ng-pristine ng-valid ng-not-empty ng-touched" placeholder="SEO description" />
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="pane-section" id="blocks">
                        <div class="pane-head">
                            <a class="pane-back" editor-back="cancelBlockPreview()">
                                <i class="pane-ico fa fa-chevron-left"></i>
                            </a>
                            <div class="pane-t">
                                <i class="pane-ico fa fa-plus-square"></i>
                                Add block
                            </div>
                        </div>
                        <div class="pane-cnt list">
                            <ul class="list">
                                <li class="list-item" ng-class="{selected: previewBlockIsText}">
                                    <a class="list-link" ng-click="previewBlock('text')">Text block</a><button ng-if="previewBlockIsText" class="btn" style="float: right;" ng-disabled="" editor-set-active-pane ng-click="appndBlock('text')">Add</button>
                                </li>
                                <li class="list-item" ng-class="{selected: previewBlockIsImage}">
                                    <a class="list-link" ng-click="previewBlock('image')">Image block</a><button ng-if="previewBlockIsImage" class="btn" style="float: right;" ng-disabled="" editor-set-active-pane ng-click="appndBlock('image')">Add</button>
                                </li>
                                <li class="list-item" ng-class="{selected: previewBlockIsImageWithText}">
                                    <a class="list-link" ng-click="previewBlock('image-with-text')">Image with text</a><button ng-if="previewBlockIsImageWithText" class="btn" style="float: right;" ng-disabled="" editor-set-active-pane ng-click="appndBlock('image-with-text')">Add</button>
                                </li>
                                <li class="list-item" ng-class="{selected: previewBlockIsImageWithTextOverlay}">
                                    <a class="list-link" ng-click="previewBlock('image-with-text-overlay')">Image with text overlay</a><button ng-if="previewBlockIsImageWithTextOverlay" class="btn" style="float: right;" ng-disabled="" editor-set-active-pane ng-click="appndBlock('image-with-text-overlay')">Add</button>
                                </li>
                                <li class="list-item" ng-class="{selected: previewBlockIsImageCarousel}">
                                    <a class="list-link" ng-click="previewBlock('image-carousel')">Image carousel</a><button ng-if="previewBlockIsImageCarousel" class="btn" style="float: right;" ng-disabled="" editor-set-active-pane ng-click="appndBlock('image-carousel')">Add</button>
                                </li>
                                <li class="list-item" ng-class="{selected: previewBlockIsTextColumnsWithImages}">
                                    <a class="list-link" ng-click="previewBlock('textcolumns-with-images')">Text columns with images</a><button ng-if="previewBlockIsTextColumnsWithImages" class="btn" style="float: right;" ng-disabled="" editor-set-active-pane ng-click="appndBlock('textcolumns-with-images')">Add</button>
                                </li>
                                <li class="list-item" ng-class="{selected: previewBlockIsImagesLayout}">
                                    <a class="list-link" ng-click="previewBlock('images-layout')">Images layout</a><button ng-if="previewBlockIsImagesLayout" class="btn" style="float: right;" ng-disabled="" editor-set-active-pane ng-click="appndBlock('images-layout')">Add</button>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="pane-section pane-section-main" id="{{item.id}}" ng-repeat="item in cmsPage.blocks">
                        <div class="pane-head main-head">
                            <a class="pane-back" editor-back>
                                <i class="pane-ico fa fa-chevron-left"></i>
                            </a>
                            <div class="pane-t">
                                <i class="pane-ico fa fa-wrench"></i>
                                {{item.name}}
                            </div>
                        </div>
                        <div class="pane-cnt pane-root">
                            <ul class="list pressets-list main-pressets-list">
                                <li>
                                    <!-- Name -->
                                    <div class="pane-settings ng-binding ng-scope">
                                        <div class="pane-settings ng-binding ng-scope">
                                            <label for="" class="form-label ng-binding ng-scope">Name</label>
                                        </div>
                                        <div class="form-input ng-scope">
                                            <input ng-model="item.name" placeholder="Name" class="ng-pristine ng-valid ng-not-empty ng-touched" />
                                        </div>
                                    </div>
                                    
                                    <!-- Anchor name -->
                                    <div class="pane-settings ng-binding ng-scope">
                                        <div class="pane-settings ng-binding ng-scope">
                                            <label for="" class="form-label ng-binding ng-scope">Quick link</label>
                                        </div>
                                        <div class="form-input ng-scope">
                                            <input ng-model="item.anchorName" placeholder="Quick link" class="ng-pristine ng-valid ng-not-empty ng-touched" />
                                        </div>
                                    </div>

                                    <!-- Title -->
                                    <div class="pane-settings ng-binding ng-scope">
                                        <div class="pane-settings ng-binding ng-scope">
                                            <label for="" class="form-label ng-binding ng-scope">Title</label>
                                        </div>
                                        <div class="form-input ng-scope">
                                            <input ng-model="item.title" placeholder="Title" class="ng-pristine ng-valid ng-not-empty ng-touched" />
                                        </div>
                                    </div>

                                    <!-- Content -->
                                    <div class="pane-settings ng-binding ng-scope" ng-if="item.type == 'text' || item.type == 'image-with-text' || item.type == 'image-with-text-overlay'">
                                        <div class="pane-settings ng-binding ng-scope">
                                            <label for="" class="form-label ng-binding ng-scope">Content</label>
                                        </div>
                                        <div class="form-input ng-scope">
                                            <div text-angular ng-model="item.content" ta-toolbar="[['bold','italics'], ['ul','ol'], ['justifyLeft','justifyCenter','justifyRight','justify'], ['insertLink']]" placeholder="Content" class="ng-pristine ng-valid ng-not-empty ng-touched" ></div>
                                        </div>
                                    </div>

                                    <!-- Section Height 
                                    <div class="pane-settings ng-binding ng-scope" ng-if="item.type == 'image-with-text' || item.type == 'image-with-text-overlay'">
                                        <div class="pane-settings ng-binding ng-scope">
                                            <label for="" class="form-label ng-binding ng-scope">Section height</label>
                                        </div>
                                        <div class="form-input ng-scope">
                                            <select ng-model="item.sectionHeight" placeholder="Section height" class="ng-pristine ng-valid ng-not-empty ng-touched">
                                                <option value="extraSmall">Extra small</option>
                                                <option value="small">Small</option>
                                                <option value="medium">Medium</option>
                                                <option value="large">Large</option>
                                                <option value="extraLarge">Extra large</option>
                                            </select>
                                        </div>
                                    </div>
                                    -->

                                    <!-- Text background -->
                                    <div class="pane-settings ng-binding ng-scope" ng-if="item.type == 'image-with-text-overlay'">
                                        <div class="pane-settings ng-binding ng-scope">
                                            <label for="" class="form-label ng-binding ng-scope">Text background</label>
                                        </div>
                                        <div class="form-input">
                                            <label class="form-label __switch">
                                                <input type="checkbox" ng-model="item.textBackground">
                                                <span class="switch"></span>
                                            </label>
                                        </div>
                                        <div class="pane-settings ng-binding ng-scope">
                                            <label for="" class="form-label ng-binding ng-scope">Text background color</label>
                                        </div>
                                        <div class="form-input ng-scope">
                                            <select ng-model="item.textBackgroundColor" class="ng-pristine ng-valid ng-not-empty ng-touched">
                                                <option value="black">Black</option>
                                                <option value="white">White</option>
                                            </select>
                                        </div>
                                        <div class="pane-settings ng-binding ng-scope">
                                            <label for="" class="form-label ng-binding ng-scope">Opacity</label>
                                        </div>
                                        <div class="form-input ng-scope">
                                            <input ng-model="item.textBackgroundOpacityPercent" ng-change="changeTextBackgroundOpacityPercent(item)" placeholder="Opacity" class="ng-pristine ng-valid ng-not-empty ng-touched" />
                                        </div>
                                    </div>                                    

                                    <!-- Alignment -->
                                    <div class="pane-settings ng-binding ng-scope" ng-if="item.type == 'image-with-text' || item.type == 'image-with-text-overlay'">
                                        <div class="pane-settings ng-binding ng-scope">
                                            <label for="" class="form-label ng-binding ng-scope">Alignment</label>
                                        </div>
                                        <div class="form-input ng-scope">
                                            <select ng-model="item.align" placeholder="Alignment" class="ng-pristine ng-valid ng-not-empty ng-touched">
                                                <option value="left">Left</option>
                                                <option value="center"  ng-if="item.type == 'image-with-text-overlay'">Center</option>
                                                <option value="right">Right</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Block width -->
                                    <div class="pane-settings ng-binding ng-scope" ng-if="item.type == 'image-carousel' || item.type == 'image-with-text-overlay'">
                                        <div class="pane-settings ng-binding ng-scope">
                                            <label for="" class="form-label ng-binding ng-scope">Block width</label>
                                        </div>
                                        <div class="form-input ng-scope">
                                            <select ng-model="item.blockWidth" placeholder="Block width" class="ng-pristine ng-valid ng-not-empty ng-touched">
                                                <option value="screen">Screen</option>
                                                <option value="container">Container</option>
                                                <option value="small">Small</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Image size -->
                                    <div class="pane-settings ng-binding ng-scope" ng-if="item.type == 'textcolumns-with-images' || item.type == 'image-with-text' || item.type == 'image'">
                                        <div class="pane-settings ng-binding ng-scope">
                                            <label for="" class="form-label ng-binding ng-scope">Image size</label>
                                        </div>
                                        <div class="form-input ng-scope">
                                            <select ng-model="item.imageSize" placeholder="Image size" class="ng-pristine ng-valid ng-not-empty ng-touched">
                                                <option value="fit">Fit</option>
                                                <option value="extraSmall">Extra small</option>
                                                <option value="small">Small</option>
                                                <option value="medium">Medium</option>
                                                <option value="large" ng-if="item.type != 'textcolumns-with-images'">Large</option>
                                                <option value="extraLarge" ng-if="item.type != 'textcolumns-with-images'">Extra large</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Image -->
                                    <div class="pane-settings ng-binding ng-scope" ng-if="item.type == 'image-with-text-overlay' || item.type == 'image-with-text' || item.type == 'image'">
                                        <div class="pane-settings ng-binding ng-scope">
                                            <label for="" class="form-label ng-binding ng-scope">Image</label>
                                        </div>
                                        <div class="form-input ng-scope">
                                            <input ng-model="item.url" placeholder="Image URL" class="ng-pristine ng-valid ng-not-empty ng-touched" />
                                        </div>
                                        @*<div class="form-file" editor-set-image model="item"></div>*@
                                        <div class="list-item">

                                              <div class='form-file form-file-preview' style="background-image:url({{ item.url }}); ">
                                              <input type='file'  uploader="uploader" nv-file-select="">
                                              @*<button class='btn form-load-image'><i class='fa fa-picture-o'></i></button>*@
                                              </div>

                                            @*<input type="file" uploader="uploader" nv-file-select="">
                                            <button class="btn __file" type="button" onclick="$('input[type=file]').trigger('click')">
                                                <i class="btn-ico fa fa-file"></i>
                                            </button>*@
                                        </div>
                                        <button class="btn remove-file" ng-disabled="" ng-click="deleteImage(item)">Delete image</button>
                                        <button class="btn upload-file" ng-click="selectImageBlock(item)" onclick="$('input[type=file]', $(this).parent()).trigger('click')" @*ng-click="changeImage(item)"*@>Change</button>
                                        <button class="btn" ng-disabled="" editor-set-active-subpane>Edit</button>
                                    </div>

                                    <!-- Auto-rotate images -->
                                    <div class="pane-settings ng-binding ng-scope" ng-if="item.type == 'image-carousel'">
                                        <div class="pane-settings ng-binding ng-scope">
                                            <label for="" class="form-label ng-binding ng-scope">Auto-rotate images</label>
                                        </div>
                                        <div class="form-input">
                                            <label class="form-label __switch">
                                                <input type="checkbox" ng-model="item.autoRotate">
                                                <span class="switch"></span>
                                            </label>
                                        </div>
                                    </div>

                                    <!-- Rotation frequency -->
                                    <div class="pane-settings ng-binding ng-scope" ng-if="item.type == 'image-carousel'">
                                        <div class="pane-settings ng-binding ng-scope">
                                            <label for="" class="form-label ng-binding ng-scope">Rotation frequency</label>
                                        </div>
                                        <div class="form-input ng-scope">
                                            <select ng-model="item.rotationFrequency" placeholder="Alignment" class="ng-pristine ng-valid ng-not-empty ng-touched">
                                                <option value="5000">5 seconds</option>
                                                <option value="6000">6 seconds</option>
                                                <option value="7000">7 seconds</option>
                                                <option value="8000">8 seconds</option>
                                                <option value="9000">9 seconds</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Content size -->
                                    <div class="pane-settings ng-binding ng-scope" ng-if="item.type == 'image-carousel'">
                                        <div class="pane-settings ng-binding ng-scope">
                                            <label for="" class="form-label ng-binding ng-scope">Content size</label>
                                        </div>
                                        <div class="form-input ng-scope">
                                            <select ng-model="item.contentSize" placeholder="Section height" class="ng-pristine ng-valid ng-not-empty ng-touched">
                                                <option value="extraSmall">Extra small</option>
                                                <option value="small">Small</option>
                                                <option value="medium">Medium</option>
                                                <option value="large">Large</option>
                                                <option value="extraLarge">Extra large</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Image layout -->
                                    <div class="pane-settings ng-binding ng-scope" ng-if="item.type == 'images-layout'">
                                        <div class="pane-settings ng-binding ng-scope">
                                            <label for="" class="form-label ng-binding ng-scope">Layout</label>
                                        </div>
                                        <div class="form-input ng-scope">
                                            <select ng-model="item.layout" placeholder="Layout" class="ng-pristine ng-valid ng-not-empty ng-touched">
                                                <option value="layout-one-two">One left, two right</option>
                                                <option value="layout-two-one">Two left, one right</option>
                                                <option value="layout-oneleft-oneright">One left, one right</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Images -->
                                    <div class="pane-settings ng-binding ng-scope" ng-if="item.type == 'image-carousel' || item.type == 'images-layout'">

                                        <ul id="imageList" ui-sortable="sortableOptions" ng-model="item.images">
                                            <li class="list-item" ng-repeat="image in item.images" data-name="{{image.id}}">
                                                <div id="{{item.id}}" class="pane-section __selected">
                                                    <a class="list-link" editor-set-active-subpane-list>
                                                        <span class="list-t"> {{image.title}} </span>
                                                    </a>

                                                    <!-- Image parameters -->
                                                    <div class="pane-section subpane subpane-list" style="display: none; background-color: #fff;">
                                                        <div class="pane-head">
                                                            <a class="pane-back" editor-back-subpane-list>
                                                                <i class="pane-ico fa fa-chevron-left"></i>
                                                            </a>
                                                            <div class="pane-t">
                                                                <i class="pane-ico fa fa-picture-o"></i>
                                                                Image's parameters
                                                            </div>
                                                        </div>
                                                        <div class="pane-cnt list">
                                                            <ul class="list">
                                                                <li>
                                                                    <div class="pane-settings ng-binding ng-scope">
                                                                        <div class="pane-settings ng-binding ng-scope">
                                                                            <label for="" class="form-label ng-binding ng-scope">Title</label>
                                                                        </div>
                                                                        <div class="form-input ng-scope">
                                                                            <input ng-model="image.title" placeholder="Title" class="ng-pristine ng-valid ng-not-empty ng-touched" />
                                                                        </div>
                                                                    </div>

                                                                    <div class="pane-settings ng-binding ng-scope">
                                                                        <div class="pane-settings ng-binding ng-scope">
                                                                            <label for="" class="form-label ng-binding ng-scope">Content</label>
                                                                        </div>
                                                                        <div class="form-input ng-scope">
                                                                            <input ng-model="image.content" placeholder="Title" class="ng-pristine ng-valid ng-not-empty ng-touched" />
                                                                        </div>
                                                                    </div>

                                                                    <!-- Image -->
                                                                    <div class="pane-settings ng-binding ng-scope">
                                                                        <div class="pane-settings ng-binding ng-scope">
                                                                            <label for="" class="form-label ng-binding ng-scope">Image</label>
                                                                        </div>
                                                                        <div class="form-input ng-scope">
                                                                            <input ng-model="image.url" placeholder="Image URL" class="ng-pristine ng-valid ng-not-empty ng-touched" />
                                                                        </div>
                                                                        @*<div class="form-file" editor-set-image model="item"></div>*@
                                                                        <div class="list-item">

                                                                            <div class='form-file form-file-preview' style="background-image:url({{ image.url }}); ">
                                                                                <input type='file' uploader="uploader" nv-file-select="">
                                                                                @*<button class='btn form-load-image'><i class='fa fa-picture-o'></i></button>*@
                                                                            </div>

                                                                        </div>
                                                                        <button class="btn remove-file" ng-click="deleteImage(image)">Delete image</button>
                                                                        <button class="btn upload-file" ng-click="selectImageBlock(image)" onclick="$('input[type=file]', $(this).parent()).trigger('click')">Change</button>                                                                        
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                            </li>
                                        </ul>

                                        <button class="btn remove-file" ng-click="addCarouselImage(item)">Add image</button>

                                    </div>

                                    <!-- Image alignment -->
                                    <div class="pane-settings ng-binding ng-scope" ng-if="item.type == 'textcolumns-with-images'">
                                        <div class="pane-settings ng-binding ng-scope">
                                            <label for="" class="form-label ng-binding ng-scope">Image alignment</label>
                                        </div>
                                        <div class="form-input ng-scope">
                                            <select ng-model="item.imageAlignment" placeholder="Alignment" class="ng-pristine ng-valid ng-not-empty ng-touched">
                                                <option value="left">Left</option>
                                                <option value="top">Top</option>
                                                <option value="bottom">Bottom</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Number of columns -->
                                    <div class="pane-settings ng-binding ng-scope" ng-if="item.type == 'textcolumns-with-images'">
                                        <div class="pane-settings ng-binding ng-scope">
                                            <label for="" class="form-label ng-binding ng-scope">Number of columns</label>
                                        </div>
                                        <div class="form-input ng-scope">
                                            <select ng-model="item.columnCount" placeholder="Number of columns" class="ng-pristine ng-valid ng-not-empty ng-touched" ng-change="changeNumberColumns(item);">
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                                <option value="4">Four</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Columns -->
                                    <div class="pane-settings ng-binding ng-scope" ng-if="item.type == 'textcolumns-with-images'">

                                        <ul id="columnList" ui-sortable="sortableOptions" ng-model="item.columns">
                                            <li class="list-item" ng-repeat="column in item.columns" data-name="{{column.id}}">
                                                <div class="pane-section __selected">
                                                    <a class="list-link" editor-set-active-subpane-list>
                                                        <span class="list-t"> {{column.title}} </span>
                                                    </a>

                                                    <!-- Column parameters -->
                                                    <div class="pane-section subpane subpane-list" style="display: none; background-color: #fff;">
                                                        <div class="pane-head">
                                                            <a class="pane-back" editor-back-subpane-list>
                                                                <i class="pane-ico fa fa-chevron-left"></i>
                                                            </a>
                                                            <div class="pane-t">
                                                                <i class="pane-ico fa fa-picture-o"></i>
                                                                Column's parameters
                                                            </div>
                                                        </div>
                                                        <div class="pane-cnt list">
                                                            <ul class="list">
                                                                <li>
                                                                    <div class="pane-settings ng-binding ng-scope">
                                                                        <div class="pane-settings ng-binding ng-scope">
                                                                            <label for="" class="form-label ng-binding ng-scope">Title</label>
                                                                        </div>
                                                                        <div class="form-input ng-scope">
                                                                            <input ng-model="column.title" placeholder="Title" class="ng-pristine ng-valid ng-not-empty ng-touched" />
                                                                        </div>
                                                                    </div>

                                                                    <!-- Content -->
                                                                    <div class="pane-settings ng-binding ng-scope">
                                                                        <div class="pane-settings ng-binding ng-scope">
                                                                            <label for="" class="form-label ng-binding ng-scope">Content</label>
                                                                        </div>
                                                                        <div class="form-input ng-scope">
                                                                            <div text-angular ng-model="column.content" ta-toolbar="[['bold','italics'], ['ul','ol'], ['justifyLeft','justifyCenter','justifyRight','justify'], ['insertLink']]" placeholder="Content" class="ng-pristine ng-valid ng-not-empty ng-touched"></div>
                                                                        </div>
                                                                    </div>

                                                                    <!-- Image -->
                                                                    <div class="pane-settings ng-binding ng-scope">
                                                                        <div class="pane-settings ng-binding ng-scope">
                                                                            <label for="" class="form-label ng-binding ng-scope">Image</label>
                                                                        </div>
                                                                        <div class="form-input ng-scope">
                                                                            <input ng-model="column.url" placeholder="Image URL" class="ng-pristine ng-valid ng-not-empty ng-touched" />
                                                                        </div>
                                                                        @*<div class="form-file" editor-set-image model="item"></div>*@
                                                                        <div class="list-item">

                                                                            <div class='form-file form-file-preview' style="background-image:url({{ column.url }}); ">
                                                                                <input type='file' uploader="uploader" nv-file-select="">
                                                                                @*<button class='btn form-load-image'><i class='fa fa-picture-o'></i></button>*@
                                                                            </div>

                                                                        </div>
                                                                        <button class="btn remove-file" ng-click="deleteImage(column)">Delete image</button>
                                                                        <button class="btn upload-file" ng-click="selectImageBlock(column)" onclick="$('input[type=file]', $(this).parent()).trigger('click')">Change</button>
                                                                    </div>
                                                                </li>
                                                            </ul>

                                                            <button class="btn remove-file" ng-click="removeColumn(item, column)">Remove column</button>

                                                        </div>
                                                    </div>

                                                </div>
                                            </li>
                                        </ul>

                                        <button class="btn remove-file" ng-click="addColumn(item)">Add column</button>

                                    </div>
                                </li>
                            </ul>

                            <div class="pane-section subpane" style="display: none;">
                                <div class="pane-head">
                                    <a class="pane-back" editor-back-subpane="cancelImageParam(close)">
                                        <i class="pane-ico fa fa-chevron-left"></i>
                                    </a>
                                    <div class="pane-t">
                                        <i class="pane-ico fa fa-picture-o"></i>
                                        Edit the image's parameters
                                    </div>
                                </div>
                                <div class="pane-cnt list">
                                    <ul class="list">
                                        <li>
                                            <div class="pane-settings ng-binding ng-scope">
                                                <div class="pane-settings ng-binding ng-scope">
                                                    <label for="" class="form-label ng-binding ng-scope">Alternative text</label>
                                                </div>
                                                <div class="form-input ng-scope">
                                                    <input ng-model="item.alt" placeholder="Alternative text" class="ng-pristine ng-valid ng-not-empty ng-touched" />
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="pane-footer">
                            <button class="btn" ng-disabled="" editor-back="removeBlock(item)">Remove block</button>
                        </div>
                    </div>


                </div>
            </div>
            <div class="sidebar-foot">
                @*<button class="btn" ng-click="editor.undo()">Clear changes</button>*@
                <button class="btn" ng-disabled="!isDirty() || permalinkDuplicated" ng-click="save()">Save</button>
                <button class="btn" ng-click="publish()">Publish</button>
                <button class="btn" ng-click="editor.cancelSavingPreset()">Close</button>
            </div>
        </div>
    </article>
</div>


<script src="editor/directives/sortable.js"></script>

<script>

    var myapp = angular.module('theme-editor', ['ui.sortable', 'textAngular', 'angularFileUpload']);

        var _fileName = "@ViewData["FileName"]";
        var _userName = "@ViewData["UserName"]";
        var _pageName = "@ViewData["PageName"]";

</script>

<script src="editor/services/defaultSchema.js"></script>
<script src="editor/services/presets.js"></script>
<script src="editor/services/modelBuilder.js"></script>
<script src="editor/services/stack.js"></script>
<script src="Scripts/Services/cmsServices.js"></script>
<script src="editor/services/imageService.js"></script>
<script src="editor/directives/setActivePane.js"></script>
<script src="editor/directives/setActiveSubpane.js"></script>
<script src="editor/directives/setActiveSubpaneList.js"></script>
<script src="editor/directives/back.js"></script>
<script src="editor/directives/backSubpane.js"></script>
<script src="editor/directives/backSubpaneList.js"></script>
<script src="editor/directives/setColor.js"></script>
<script src="editor/directives/setImage.js"></script>

<script src="editor/controllers/editorCtrl.js"></script>
<script src="editor/main.js"></script>
