<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Virto Commerce Platform Style Guide</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>



    <script src="js/colorpicker.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    @*<script src="http://code.angularjs.org/1.2.0/angular.min.js"></script>*@

    <link rel="stylesheet" href="css/theme-editor/reset.css">
    <link rel="stylesheet" href="css/theme-editor/font-awesome.css">

    <link rel="stylesheet" href="css/theme-editor/base-modules.css">
    <link rel="stylesheet" href="css/theme-editor/project-modules.css">
    <link rel="stylesheet" href="css/theme-editor/cosmetic.css">

    <link rel="stylesheet" href="css/theme-editor/main.css">
    <link rel="stylesheet" href="css/theme-editor/colorpicker.css">

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Exo+2:400,300,500,600,400italic&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" href="http://textangular.com/dist/textAngular.css" type="text/css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" type="text/css">

    <!--<script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular-rangy.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular-sanitize.min.js'></script>-->

    <script src='js/textAngular.min.js'></script>

    @*<script src="http://code.angularjs.org/1.2.0/angular.min.js"></script>*@
    <script src='js/angular-file-upload.min.js'></script>


    <link rel="stylesheet" href="css/designer.css">
</head>

<body>
   
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>

</html>
