<ul class="menu">
    <li class="menu-item">
        <app-toolbar-button icon="home" title="Back" (buttonClick)="closeEditor()"></app-toolbar-button>
    </li>
    <li class="menu-item">
        <app-toolbar-button icon="code" title="Edit HTML/CSS"></app-toolbar-button>
    </li>
    <li class="menu-item">
        <app-toolbar-button icon="globe" title="Edit languages"></app-toolbar-button>
    </li>
    <li class="menu-item">
        <app-toolbar-button icon="map" title="Edit navigation"></app-toolbar-button>
    </li>
</ul>