<ul class="menu">
    <li class="menu-item">
        <a href="#" class="menu-link">
            <i class="menu-ico fa fa-home"></i>
            Back
        </a>
    </li>
    <li class="menu-item">
        <a href="#" class="menu-link">
            <i class="menu-ico fa fa-code"></i>
            Edit HTML/CSS
        </a>
    </li>
    <li class="menu-item">
        <a href="#" class="menu-link">
            <i class="menu-ico fa fa-globe"></i>
            Edit languages
        </a>
    </li>
    <li class="menu-item">
        <a href="#" class="menu-link">
            <i class="menu-ico fa fa-map"></i>
            Edit navigation
        </a>
    </li>
</ul>