<div>
    <div>
        <app-accordeon appSortableList (sort)="sortItems($event)">
            <app-acc-item *ngFor="let item of getControls(); let i = index;" [title]="getTitle(item)" appDraggable>
                <div [formGroupName]="i">

                    <!-- <app-control-holder *ngIf="control.type !== 'header' && control.type !== 'paragraph'" [descriptor]="control"
                        [group]="group" [formControlName]="getFormControlName(control)" [formArrayName]="getFormArrayName(control)"></app-control-holder> -->

                    <div class="pane-settings">
                        <button class="btn" (click)="removeElement(i)">{{ getRemoveButtonTitle() }}</button>
                    </div>
                </div>
                <div *appDraggableHelper>
                    <h4 class="panel-title">
                        <a href tabindex="0"><span>{{ getTitle(item) }}</span></a>
                    </h4>
                </div>
            </app-acc-item>
        </app-accordeon>
    </div>
    <div>
        <button class="btn" (click)="addElement()">{{ getAddButtonTitle() }}</button>
    </div>
</div>