<!DOCTYPE html>
<html ng-app="theme-editor" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Virto Commerce Platform Style Guide</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/font-awesome.css">

    <link rel="stylesheet" href="css/base-modules.css">
    <link rel="stylesheet" href="css/project-modules.css">
    <link rel="stylesheet" href="css/cosmetic.css">

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/colorpicker.css">

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Exo+2:400,300,500,600,400italic&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <div id="layout">
      <div class="top">
        <ul class="menu">
          <li class="menu-item">
            <a href="#" class="menu-link">
              <i class="menu-ico fa fa-home"></i>
              Back
            </a>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-link">
              <i class="menu-ico fa fa-code"></i>
              Edit HTML/CSS
            </a>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-link">
              <i class="menu-ico fa fa-globe"></i>
              Edit languages
            </a>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-link">
              <i class="menu-ico fa fa-map"></i>
              Edit navigation
            </a>
          </li>
        </ul>
      </div>
      <article class="main">
        <div class="theme-cnt">
          <div class="theme-preview" data-size="desktop">
            <!-- <iframe src="http://virtocommerce.com" scrolling="yes"></iframe> -->
          </div>
          <a class="theme-toggle js-toggle"></a>
          <ul class="list __nav">
            <li class="list-item">
              <a class="list-link __selected js-size" data-size="desktop">
                <i class="list-ico fa fa-desktop"></i>
                Desktop
              </a>
            </li>
            <li class="list-item">
              <a class="list-link js-size" data-size="tablet">
                <i class="list-ico fa fa-tablet"></i>
                Tablet
              </a>
            </li>
            <li class="list-item">
              <a class="list-link js-size" data-size="mobile">
                <i class="list-ico fa fa-mobile"></i>
                Mobile
              </a>
            </li>
          </ul>
        </div>
        <div class="theme-sidebar" ng-controller="EditorCtrl as editor">
          <div class="loader">
            <div class="loading">
              <img src="images/loader.gif" alt="">
            </div>
          </div>
          <div class="sidebar-main">
            <div class="pane pane-index">
              <div class="pane-head">
                <div class="pane-t">Boundless</div>
              </div>
              <div class="pane-cnt">
                <ul class="list" ng-cloak>

                  <li class="list-item" data-name="presets" editor-set-active-pane>
                    <a class="list-link">
                      <i class="list-ico fa fa-wrench"></i>
                      <span class="list-t"> Presets </span>
                    </a>
                  </li>

                  <li class="list-item" ng-repeat="item in editor.settings" data-name="{{editor.convertName(item.name)}}" editor-set-active-pane>
                    <a class="list-link">
                      <i ng-class="'list-ico fa fa-' + item.icon"></i>
                      <span class="list-t"> {{item.name}} </span>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
            <div class="pane">

              <div class="pane-section" id="presets">
                <div class="pane-head">
                  <a class="pane-back" editor-back>
                    <i class="pane-ico fa fa-chevron-left"></i>
                  </a>
                  <div class="pane-t">
                    <i class="pane-ico fa fa-wrench"></i>
                    Presets
                  </div>
                </div>
                <div class="pane-cnt">

                  <ul class="list pressets-list">
                    <li class="list-item" ng-repeat="(name, preset) in editor.presets.presets">
                      <div class="list-thumbnail" ng-class="{'super-active': name == editor.presets.current}" ng-click="editor.openPreset(name)">{{name}}</div>
                      <div class="list-actions">
                        <a class="list-name" ng-click="editor.removePreset(name)">
                          {{name}}
                          <i class="list-ico fa fa-trash-o"></i>
                        </a>
                      </div>
                    </li>
                    <li class="list-item" ng-if="editor.savingPreset">
                      <div class="list-thumbnail">{{editor.newPresetName}}</div>
                      <div class="list-actions">
                        <a class="list-name">
                          {{editor.newPresetName}}
                          <i class="list-ico fa fa-trash-o"></i>
                        </a>
                      </div>
                    </li>
                  </ul>

                  <div class="new-pressets-foot" ng-if="editor.savingPreset">
                    <label class="form-label new-preset-label">Preset name</label>
                    <div class="form-input new-preset-input">
                      <input type="text" ng-model="editor.newPresetName">
                    </div>
                    <button class="btn" ng-click="editor.endSavingPreset()">Save</button>
                    <button class="btn" ng-click="editor.cancelSavingPreset()">Cancel</button>
                  </div>

                  <div class="pressets-foot" ng-if="!editor.savingPreset">
                    <button class="btn" ng-click="editor.startSavingPreset()">Save current as new presset</button>
                  </div>

                </div>
              </div>

              <div class="pane-section" ng-repeat="item in editor.settings" id="{{editor.convertName(item.name)}}">
                <div class="pane-head">
                  <a class="pane-back" editor-back>
                    <i class="pane-ico fa fa-chevron-left"></i>
                  </a>
                  <div class="pane-t">
                    <i ng-class="'pane-ico fa fa-' + item.icon"></i>
                     {{item.name}}
                  </div>
                </div>
                <div class="pane-cnt">

                  <!-- <label class="form-label"> setting.label </label>
                  <div class="form-file" editor-set-image src="qwe" name="asd"></div>
                  <p class="form-help"> setting.info </p>
                  <div class="form-img"></div> -->

                  <div class="pane-settings" ng-repeat="setting in item.settings" ng-class="{'pane-t': setting.type === 'header'}">

                    <!-- Header or Paragraph -->
                    {{setting.content}}

                    <!-- Color picker -->
                    <div ng-if="setting.type === 'color'" class="pane-row">
                      <editor-set-color class="pane-col pane-color" id="{{setting.id}}" value="editor.model[setting.id]"></editor-set-color>
                      <div class="pane-col pane-name" ng-click="log()">{{setting.label}}</div>
                    </div>

                    <!-- Select -->
                    <label ng-if="setting.type === 'select' && setting.label !== undefined" for="{{setting.id}}" class="form-label">{{setting.label}}</label>
                    <div ng-if="setting.type === 'select'" class="form-input __select">
                      <select id="{{setting.id}}" ng-model="editor.model[setting.id]">
                        <option ng-repeat="option in setting.options" value="{{option.value}}" ng-selected="option.value === setting.default">
                          {{option.label}}
                        </option>
                      </select>
                    </div>

                    <!-- Checkbox -->
                    <div ng-if="setting.type === 'checkbox'" class="pane-row">
                      <div class="form-input">
                        <label class="form-label __switch">
                          <input type="checkbox" id="{{setting.id}}" ng-model="editor.model[setting.id]">
                          <span class="switch"></span>
                        </label>
                      </div>
                      <div class="pane-name">{{setting.label}}</div>
                    </div>

                    <!-- Image -->
                    <label ng-if="setting.type === 'image'" for="{{setting.id}}" class="form-label">{{setting.label}}</label>
                    <div ng-if="setting.type === 'image'" id="{{setting.id}}" class="form-file" editor-set-image model="editor.model[setting.id]"></div>
                    <p ng-if="setting.type === 'image' && setting.info !== undefined" class="form-help">{{setting.info}}</p>
                    <div ng-if="setting.type === 'image'" class="form-img"></div>

                    <!-- Input type="text" -->
                    <label ng-if="setting.type === 'text'" for="{{setting.id}}" class="form-label">{{setting.label}}</label>
                    <div ng-if="setting.type === 'text'" class="form-input">
                        <input id="{{setting.id}}" type="text" value="{{setting.default}}" ng-model="editor.model[setting.id]">
                    </div>

                    <!-- Info -->
                    <p ng-if="setting.type !== 'image' && setting.info !== undefined" class="form-help">{{setting.info}}</p>

                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="sidebar-foot">
            <button class="btn" ng-click="editor.undo()">Clear changes</button>
            <button class="btn">Save changes</button>
          </div>
        </div>
      </article>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script src="js/colorpicker.js"></script>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script> -->
    <script src="node_modules/angular/angular.js"></script>
    <script src="editor/main.js"></script>
    <script src="editor/services/defaultSchema.js"></script>
    <script src="editor/services/presets.js"></script>
    <script src="editor/services/modelBuilder.js"></script>
    <script src="editor/services/stack.js"></script>
    <script src="editor/services/imageService.js"></script>
    <script src="editor/controllers/editorCtrl.js"></script>
    <script src="editor/directives/setActivePane.js"></script>
    <script src="editor/directives/back.js"></script>
    <script src="editor/directives/setColor.js"></script>
    <script src="editor/directives/setImage.js"></script>

    <script>
      $(window).load(function () {
        $('.theme-sidebar .loader').remove();
      });

      $(function () {
        $('.js-toggle').bind('click', function () {
          $('#layout').toggleClass('__full-size');
        });

        $('.js-size').bind('click', function () {
          var $self = $(this),
          size = $self.attr('data-size');

          $('.js-size').removeClass('__selected');
          $(this).addClass('__selected');
          $('.theme-preview').attr('data-size', size);
        });
      });
    </script>
  </body>
</html>
