<div [formGroup]="group">

    <div class="pane-settings">
        <app-select-item [options]="blockWidthOptions" label="Block width" formControlName="blockWidth"></app-select-item>
    </div>

    <div class="pane-settings">
        <app-checkbox-item label="Auto-rotate images" formControlName="autoRotate"></app-checkbox-item>
    </div>
    <div class="pane-settings" *ngIf="group.get('autoRotate').value">
        <app-select-item [options]="rotationFrequencyOptions" label="Rotation frequency" formControlName="rotationFrequency"></app-select-item>
    </div>

    <div class="pane-settings">
        <app-accordeon appSortableList formArrayName="images" (sort)="sortItems($event)">
            <app-acc-item *ngFor="let item of getFormArray('images').controls; let i = index;" [title]="getTitle(item)"
                appDraggable>
                <div [formGroupName]="i">
                    <div class="pane-settings">
                        <app-string-item label="Title" formControlName="title"></app-string-item>
                    </div>
                    <div class="pane-settings">
                        <app-image-item label="Upload picture" formControlName="url"></app-image-item>
                    </div>
                    <div class="pane-settings">
                        <app-text-item label="Content" formControlName="content"></app-text-item>
                    </div>
                    <div class="pane-settings">
                        <button class="btn" (click)="removeImage(i)">Remove Image</button>
                    </div>
                </div>
                <div *appDraggableHelper>
                    <h4 class="panel-title">
                        <a href tabindex="0"><span>{{ getTitle(item) }}</span></a>
                    </h4>
                </div>
            </app-acc-item>
        </app-accordeon>
    </div>
    <div class="pane-settings">
        <button class="btn" (click)="addImage()">Add Image</button>
    </div>
</div>