<div id="layout">

    <!-- Header -->
    <header class="header">
        <div class="header-aside">
            <app-header-aside [active]="headerActive$|async" [icon]="headerIcon$|async" [title]="pageTitle$|async"
                (buttonClick)="back()"></app-header-aside>
        </div>
        <div class="header-nav">
            <!-- TODO: move active button to state -->
            <app-toolbar [buttons]="['desktop', 'mobile', 'tablet', 'full']" [activeButton]="viewMode"
                (buttonClick)="viewMode = $event"></app-toolbar>
            <div class="header-actions">
                <button class="btn btn--outline" [disabled]="true">
                    <span class="btn__text">Publish</span>
                </button>
                <button class="btn btn--blue" (click)="onSave()">
                    <span class="btn__text">Save</span>
                </button>
            </div>
        </div>
    </header>
    <!-- End Header -->

    <!-- Main -->
    <main class="main" [attr.data-view]="viewMode">

        <!-- Left panel -->
        <div class="left-panel" *ngIf="tabsVisible$|async">

            <!-- Tabs -->
            <app-tabs class="tabs tabs--full tabs--shadow" (tabSelected)="onTabChanged($event)">
                <app-tab class="tabs__content" tabTitle="Sections" [active]="(activeTabIndex$|async) === 0">

                    <app-loading *ngIf="editorLoading$|async"></app-loading>

                    <div class="error-page" *ngIf="(schemaNotLoaded$ | async) || (pageNotLoaded$ | async)">
                        <img class="error-page__pic" src="assets/i/bg-error-sidebar.png" alt="">
                        <div *ngIf="schemaNotLoaded$|async" class="error-page__t">Blocks Schema was not loaded</div>
                        <div *ngIf="pageNotLoaded$|async" class="error-page__t">Page was not loaded</div>
                        <button class="btn btn--blue" (click)="reloadEditorData()">
                            <span class="btn__text">Try again</span>
                        </button>
                    </div>

                    <ng-container *ngIf="(page$|async) && (blocksSchema$|async)">
                        <app-page-editor class="left-panel-content" [model]="page$ | async"
                            [schema]="blocksSchema$ | async" (selectEvent)="selectPageItem($event)"
                            [hoveredId]="hoveredId$|async" (mouseOver)="mouseOverItem($event)"
                            (visibilityChanged)="toggleVisibility($event)" (orderChangedEvent)="onOrderChanged($event)"
                            (addNewBlockEvent)="setNewBlockMode()">
                        </app-page-editor>
                        <!-- <app-footer-aside class="left-panel-footer">
                            <app-actions-dropdown class="fill-row" [up]="true" title="Theme actions"
                                [items]="themeActions" (actionSelected)="onThemeActionSelected($event)">
                            </app-actions-dropdown>
                            <app-history-walker [hasUndo]="hasUndo$|async" [hasRedo]="hasRedo$|async"
                                (undoClicked)="undo()" (redoClicked)="redo()"></app-history-walker>
                        </app-footer-aside> -->
                    </ng-container>
                </app-tab>
                <app-tab class="tabs__content" tabTitle="Theme" [active]="(activeTabIndex$|async) === 1">
                    <app-theme-editor [schema]="themeSchema$ | async" (selectPresetEvent)="turnOnPresets()"
                        [noSchema]="themeSchemaNotLoaded$ | async" [noPresets]="presetsNotLoaded$ | async"
                        (reloadData)="reloadThemeData()" (selectItemEvent)="selectSchemaItem($event)">
                    </app-theme-editor>
                </app-tab>
            </app-tabs>

            <!-- End Tabs -->
        </div>

        <app-page-item-editor class="left-panel" *ngIf="currentSectionItem$|async as currentSectionItem"
            [model]="currentSectionItem" [schema]="blocksSchema$ | async"
            [mode]="editorMode$|async" [blockName]="currentBlockName$|async"
            (changeEditorModeEvent)="changeEditorMode($event)"
            (valueChangedEvent)="updateBlockPreview($event)" (removeBlockEvent)="removeBlock($event)"
            (copyBlockEvent)="copyBlock($event)"></app-page-item-editor>
        <app-select-type class="left-panel" *ngIf="addNewSectionMode$ | async" [schema]="blocksSchema$ | async"
            (previewBlockEvent)="previewBlockType($event)" (selectBlockEvent)="selectBlockType($event)">
        </app-select-type>
        <app-presets-editor class="left-panel" *ngIf="showPresets$|async" [data]="presets$|async"
            (savePresetEvent)="onSavePreset($event)" (selectPresetEvent)="onSelectPreset($event)"
            (applyThemeEvent)="applyPresetAsTheme($event)" (removePresetEvent)="onRemovePreset($event)">
        </app-presets-editor>
        <app-theme-item-editor class="left-panel" *ngIf="currentThemeSchemaItem$|async as currentSchemaItem"
            [schema]="currentSchemaItem" [theme]="theme$|async" (valueChangedEvent)="liveUpdateTheme($event)">
        </app-theme-item-editor>
        <!-- End Left panel -->

        <!-- Content -->
        <app-preview class="content" [error]="(pageNotLoaded$|async) || (previewError$|async)"
            [loading]="previewLoading$ | async" [storeUrl]="storeUrl$ | async" mode="desktop"
            (preivewLoadingError)="onPreviewError($event)" (reloadClick)="reloadPreview()"
            (preivewLoaded)="onPreviewLoaded($event)"></app-preview>
        <!-- End Content -->

    </main>
    <!-- End Main -->

    <div id="version">Ver: {{ version }}</div>
</div>