<div class="content__iframe">
    <!-- Loader -->
    <app-loading *ngIf="loading && !error"></app-loading>
    <!-- End Loader -->

    <iframe #preview1 *ngIf="storeUrl && !error" frameborder="0" id="preview1" [src]="storeUrl" scrolling="yes"
        style="display: none;" (load)="preview1Loaded()" (error)="onErrorOccured($event)"></iframe>
    <iframe #preview2 *ngIf="storeUrl && !error" frameborder="0" id="preview2" [src]="storeUrl" scrolling="yes"
        style="display: none;" (load)="preview2Loaded()" (error)="onErrorOccured($event)"></iframe>

    <div class="error-page" *ngIf="error">
        <img class="error-page__pic" src="assets/i/bg-error-content.png" alt="">
        <div class="error-page__t">Content Loading Error</div>
        <button class="btn btn--blue" (click)="reloadIFrames()">
            <span class="btn__text">Try again</span>
        </button>
    </div>

</div>