.tablet {
    max-height: 1024px;
    max-width: 768px;
}

.mobile {
    max-height: 667px;
    max-width: 375px;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

#loading-indicator {
    height: 4px;
    background-color: red;
    width: 0;
}
