<div class="content__iframe">
    <!-- Loader -->
    <app-loading *ngIf="loading"></app-loading>
    <!-- End Loader -->

    <iframe *ngIf="storeUrl" frameborder="0" id="preview1" [src]="storeUrl" scrolling="yes" style="display: none;"
        (load)="preview1Loaded()"></iframe>
    <iframe *ngIf="storeUrl" frameborder="0" id="preview2" [src]="storeUrl" scrolling="yes" style="display: none;"
        (load)="preview2Loaded()"></iframe>

    <!-- Error page -->
    <div class="error-page" *ngIf="error">
      <img class="error-page__pic" src="assets/i/bg-error-content.png" alt="">
      <div class="error-page__t">Content Loading Error<br>{{ error }}</div>
    </div>
    <!-- End Error page -->
</div>
