.tablet {
    max-height: 1024px;
    max-width: 768px;
}

.mobile {
    max-height: 667px;
    max-width: 375px;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

@keyframes loading {
    from {left: 0;}
    to {left: 90%;}
}

#loading-indicator {
    height: 4px;
    background-color: red;
    width: 10%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    animation-name: loading;
    animation-duration: 4s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

#preview1, #preview2 {
    display: none;
}
