<div class="pane-section __selected" *ngIf="schema">
    <div class="pane-head">
        <a class="pane-back" (click)="back()">
            <i class="pane-ico fa fa-chevron-left"></i>
        </a>
        <div class="pane-t">
            <i class="pane-ico fa fa-{{ schema.icon }}"></i>
            {{ schema.name }}
        </div>
    </div>
    <div class="pane-cnt" [formGroup]="form">
        <app-block-form [group]="form" [model]="theme" [schema]="schema"></app-block-form>
        <!-- <div class="pane-settings" *ngFor="let el of schema.settings" [class.pane-t]="el.type === 'header'">

            {{ getContent(el) }}

            <app-control-holder *ngIf="el.type !== 'header' && el.type !== 'paragraph'" [descriptor]="el" [formControlName]="el.id || null"></app-control-holder>

            <p *ngIf="el.type !== 'image' && getInfo(el) !== undefined" class="form-help">{{getInfo(el)}}</p>

        </div> -->
    </div>
</div>