<div class="pane-section __selected">
    <div class="pane-head">
        <a class="pane-back" (click)="back()">
            <i class="pane-ico fa fa-chevron-left"></i>
        </a>
        <div class="pane-t">Add block</div>
    </div>
    <div class="pane-cnt">
        <ul class="list">
            <li class="list-item" *ngFor="let item of types">
                <a class="list-link" (click)="previewItem(item.type)"><i class="list-ico fa" appSectionIcon="{{item.type}}"></i><span class="list-t"> {{ item.name }} </span></a>
                <a class="list-button" *ngIf="selectedItem == item.type"
                                       (click)="selectItem(item)">Add</a>
            </li>
        </ul>
    </div>
</div>
