<div class="pane-section __selected">
    <div class="pane-head">
        <a class="pane-back" (click)="back()">
            <i class="pane-ico fa fa-chevron-left"></i>
        </a>
        <div class="pane-t">Add block</div>
    </div>
    <div class="pane-cnt">
        <ul class="list">
            <li class="list-item" *ngFor="let item of schema | keyvalue">
                <a class="list-link" (click)="previewItem(item.value)"><i class="list-ico fa fa-{{item.value.type}}"></i><span class="list-t"> {{ item.value.name }} </span></a>
                <a class="list-button" *ngIf="selectedItem == item.value.type && !item.value.inactive"
                                       (click)="selectItem(item.key)">Add</a>
            </li>
        </ul>
    </div>
</div>
