<form [formGroup]="group">
    <div class="pane-settings" *ngFor="let control of schema.settings" [class.pane-t]="control.type === 'header'">
        <!-- Header or Paragraph -->
        {{ getContent(control) }}
        <app-control-holder *ngIf="control.type !== 'header' && control.type !== 'paragraph'" [descriptor]="control"
            [formControlName]="control.id || null"></app-control-holder>

        <!-- Info -->
        <p *ngIf="control.type !== 'image' && getInfo(control) !== undefined" class="form-help">{{getInfo(el)}}</p>
    </div>
</form>
