<div class="pane-section __selected" *ngIf="model && schema">
    <ul appSortableList class="list" (sort)="sortItems($event)">

        <li class="list-item" *ngFor="let item of model" appDraggable>
            <a class="list-link" (click)="selectItem(item)">
                <i class="list-ico fa dragger" appSectionIcon="{{ item.type }}"></i><span class="list-t">{{ getBlockName(item) }}</span>
            </a>
            <div *appDraggableHelper class="list-dragger">
                <i class="list-ico fa dragger" appSectionIcon="{{ item.type }}"></i><span class="list-t">{{ getBlockName(item) }}</span>
            </div>
        </li>

    </ul>
    <div class="list-item create">
        <a class="list-link" (click)="addNewBlock()">
            <i class="list-ico fa fa-plus-square"></i><span class="list-t">Add block</span>
        </a>
    </div>
</div>
