.panel-heading {
    padding: 10px 20px;
    cursor: pointer;
    &:hover, &.opened {
        background-color: #ecf7fc;
    }
}
.panel-body {
    border-left: 3px solid #43b0e6;
    padding-left: 10px;
}