<label *ngIf="descriptor.label" class="form-label">{{descriptor.label}}</label>
<div class="form-input __select" *ngIf="descriptor.options">
    <select (change)="onChange($event.target.value)">
        <ng-container *ngIf="!groupItems">
            <option *ngFor="let option of descriptor.options; trackBy: getTrackValue" [value]="option.value" [selected]="value === option.value"
                [innerHTML]="getDisplayValue(option)">
            </option>
        </ng-container>
        <ng-container *ngIf="groupItems">
            <optgroup *ngFor="let g of groups | keyvalue" [label]="g.key">
                <option *ngFor="let option of g.value; trackBy: getTrackValue" [value]="option.value" [selected]="value === option.value">
                    {{option.label}}
                </option>
            </optgroup>
        </ng-container>
    </select>
</div>