<!-- {
    id: "newblock1",
    images: [{
        content: "",
        title: "Image 1",
        url: "http://www.flowermeaning.com/flower-pics/Zinnia-4.jpg"
    }, {
        content: "",
        title: "Image 2",
        url: "https://www.sciencenews.org/sites/default/files/2017/08/main/articles/story-3_main.jpg"
    }, {
        content: "",
        title: "Image 3",
        url: "https://avatars.mds.yandex.net/get-pdb/34158/3f879c3c-4489-4d14-afbe-8dd19049e269/s1200"
    }],
    layout: "layout-one-two",
    name: "Images layout",
    type: "images-layout"
} -->
