<div class="collection-item">
    <div class="collection-item__header">
        <div class="collection-item__t">New slide</div>
    </div>
    <div class="collection-item__body">
        <input type="text" class="form-control" value="Button">
        <input type="text" class="form-control" placeholder="Image title">
        <input type="text" class="form-control" placeholder="Description">
        <input type="text" class="form-control" placeholder="Button name">
        <input type="text" class="form-control" placeholder="Button link">
        <div class="form-file__uploaded">
            <img alt="" class="form-file__pic" src="http://download.seaicons.com/icons/sora-meliae/matrilineare/1024/Places-folder-pictures-icon.png">
            <span class="form-file__remove"></span>
        </div>
    </div>
    <div class="collection-item__footer">
        <button class="btn btn--blue btn--block">
            <span class="btn__text">Save</span>
        </button>
        <button class="btn btn--outline btn--block">
            <span class="btn__text">Cancel</span>
        </button>
    </div>
</div>
